.navbar{
    background-color: #8c00b2;
    border-bottom: .2rem solid #f05656;

    .dropdown-toggle.nav-link{
        color: #fff;
    }

    .dropdown-toggle.nav-link:hover{
        color: #212529;
    }
}