@import  '../../variables';

.navbar{
    background-color: $color-primary;
    border-bottom: .2rem solid $color-secondary;

    .dropdown-toggle.nav-link{
        color: #fff;
    }

    .dropdown-toggle.nav-link:hover{
        color: #212529;
    }
}