.banner{
    background-image: url("../../assets/banner.jpg");
    background-size: cover;
    background-position: center top;
    padding: 2rem 0;
}

/* Desktop */
@media screen and (min-width: 1280px){
    .banner{
        padding: unset;
    }
}

/* Desktop */
@media screen and ( min-width: 992px){
    .banner_col_direita{
        text-align: left;
    }
    .banner_col_esquerda{
        text-align: right;
    }
}

.card-title h5{
    font-size: 1.562rem;
}

.btn{
    padding: 1rem 2.625rem;
}

.bannerBtn{
    font-size: 1.25rem;
    transition: .6s all ease;
    margin-top: 1.562rem;
}

.bannerBtn:hover{
    background-color: #8c00b2;
    color: #fff;
    border: #8c00b2;
}