@import '../../variables';


.user-avatar{
    position: relative;
}

.icon-user{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: $color-muted;
}

.icon-circle{
    color: #f8f9fa;
}

.svg-inline--fa{
    vertical-align: none;
}

.user-name{
    overflow-y: hidden ;
}

.dashboard-button{
    color: $color-primary;
    text-decoration: none;
    text-align: left;
    width: 100%;
}

.ativo {
    color: #fff;
    background-color: $color-primary;
    text-decoration: none;
}
.dashboard-button:hover{
    background-color: $color-muted;
    color: #fff;
}

.user-content{
    overflow-y: hidden;
}

.nav-link{
    color: $color-primary;
}

.nav-link:hover{
    color: $color-primary;
}